<div class="about-section">
    <h1>About Us</h1>
    <p>A online bookStore Application.</p>
    <p>This is the place where you can find all the books which you need.</p>
    <p><a routerLink="/home">Go To Home</a></p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="../../../assets/n.png" alt="tejasvita" style="width:100%">
        <div class="container">
          <h2>Tejasvita Pandey</h2>
          <p class="title">Software Engineer, SOTI</p>
          <p>Full Stack Developer, Angular 12.x.x, Asp.NET web API, C# developer.</p><br />
          <p>Completed bachelor in mathmatics and master in computer application.</p>
          <p>tejasvita@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../../../assets/n.png" alt="shivani" style="width:100%">
        <div class="container">
          <h2>Shivani Sharma</h2>
          <p class="title">Software Engineer, SOTI</p>
          <p>Full Stack Developer, Angular 12.x.x, Asp.NET web API, C# developer.</p><br />
          <p>Completed bachelor in mathmatics and master in computer application.</p>
          <p>shivani@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <img src="../../../assets/n.png" alt="akash" style="width:100%">
        <div class="container">
          <h2>Akash Maurya</h2>
          <p class="title">Software Engineer, SOTI</p>
          <p>Full Stack Developer, Angular 12.x.x, Asp.NET web API, C# developer.</p><br />
          <p>Completed bachelor and master in computer science.</p>
          <p>akash@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
  